.ProInfo {

}

.ProInfo__avDis {
    margin-top: 1%;
}

.ProInfo__avDis img {
    width: 20%;
}

.contact {
    padding-left: 3%;
}

.formSummaryError {
    border: #0820fc 1px solid;
    padding: 5px;
    color: red;
}