.app {
    max-width: 1200px;
    /*width: 59%;*/
    margin: 0 auto;
    display: grid;
    grid-template-areas:
    "h h"
    "n c"
    "f f";
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-columns: 2fr 9fr;
}

/*Mobile First*/
@media (max-width: 322px) {
    .app {
        max-width: 150px;
    }}
@media (max-width: 522px) {
    .app {
        max-width: 300px;
    }}
@media (max-width: 767px) {
    .app {
        max-width: 500px;
    }}
@media (max-width: 992px) {
    .app {
        max-width: 750px;
    }}
@media (max-width: 1200px) {
    .app {
        background-color: #9a73ba;
        max-width: 970px;
        max-height: 1283px;
    }}


.dialogs {
    padding: 2%;
    background-color: #89bd06;
    grid-area: c;
}